# jatin goyal 2K19CSUN01138

In [3]:
def mul(a,b):
    multiply=a*b;
    return multiply; 
a=25  
b=10
mul(a,b)

250

In [4]:
def add(a,b):
    addition = a+b;
    return addition;
a = 17
b = 9
print("The Addition is",add(a,b))

The Addition is 26

In [5]:
def fact(n):
    if n == 0:
        return 1
    else:
        return n*fact(n-1)
n = 9;
print("The Factorial is",fact(n))

The Factorial is 362880

In [6]:
def fibo(n):
    n1 = 0
    print(n1)
    n2 = 1
    print(n2)
    for i in range(2,n):
        n = n1 + n2
        n1 = n2
        n2 = n
        print(n)
n = 5
fibo(n);

0
1
1
2
3

In [7]:
def swap(a,b):
    j = a
    a = b
    b = j
    print(a,b)
a = 15
b = 3
swap(a,b);

3 15

In [8]:
def hcf(a,b):
    if(a>b):
        smaller=b
    else:
        smaller=a
    for i in range(1,smaller+1):
        if(a%i==0 and b%i==0):
            hcf=i
    return hcf 
num=int(input("enter the first number: "))
num2=int(input("enter the second number: "))
print("the hcf of the numbers is: ",hcf(num,num2))

enter the first number: 36
enter the second number: 54
the hcf of the numbers is:  18

In [9]:
def ASCII(c):
    print("The ASCII value of a character is",ord(c))
c = input("enter the character: ")
ASCII(c);

enter the character: J
The ASCII value of a character is 74

In [10]:
import datetime
from datetime import date
date = date.today()
print(date)
import time
localtime = time.asctime(time.localtime(time.time()))
print(localtime)

2021-03-04
Thu Mar  4 21:32:11 2021

In [11]:
def print(value):
    return value
value = input("Enter the value :")
print(value)

Enter the value :Jatin Goyal

'Jatin Goyal'

In [12]:
def students(s1,s2):
    return s2
students(s1 = "Ravi",s2 = "Jatin")

'Jatin'

In [13]:
def add(*args):
    a=0
    for i in args:
        a+=i
    return a
add(20,25)

45

In [14]:
import math
num=int(input("enter the number: "))
math.sqrt(num)

enter the number: 189

13.74772708486752